.container{

background-image:url(https://wallpapercave.com/wp/wp2749148.jpg);
background-size:cover;
height: 100vh;
} 

.registrationContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-group{
  margin: 20px;
  display: table-caption;

}

.form-control{
  padding: 10px;
  font-size: large;
  font-weight: 30px;
  border-radius: 5px;

}


.RegisterForm{
 backdrop-filter: brightness(0.5);
 padding: 40px; 
}
label{
  color: white;
  font-size: 20px;
  font-weight: 20px;
}

.registerButton{

  width: -webkit-fill-available;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 20px;
  height: 50px;

}

.registerButton:hover{
  width: -webkit-fill-available;
  background-color: grey;
  color: white;
  font-size: 20px;
  font-weight: 20px;
  height: 50px;
  cursor: pointer;
}